/* Universal Tags */

html {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #4A4A4A;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 24px;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
}

p {
  margin-bottom: 8px;
}

hr {
  margin: 0;
}

/* Header Section */

header {
  display: flex;
  height: 64px;
  width: 100%;
  align-items: center;
  position: fixed;
  background-color: white;
  z-index: 1;
}

.logo {
  display: flex;
  height: 32px;
  align-items: center;
  margin-left: 24px;
  flex-grow: 1;
}

.colmaracademy {
  font-weight: bold;
}

.academy {
  color: #D8D8D8;
}

nav {
  display: flex;
  margin-right: 24px;
}

.with-margin {
margin-right: 16px;
}

/* Content Section */

.content {
  top: 64px;
  position: relative;
  width: 100%;
}

/* Banner Section */

.banner {
  display: flex;
  background-color: #D8D8D8;
}

.banner .left {
  margin-top: 32px;
  margin-right: 24px;
  margin-bottom: 32px;
  margin-left: 24px;
  width: 60%;
}

.banner .left img {
  width: 100%;
  height: auto;
}

.banner .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.banner .right .button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .right a {
  color: white;
  background-color: #4A4A4A;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
}

/* Information Section */

.information {
  display: flex;
  background-color: #F3F5F5;
  top: 64px;
  padding-bottom: 32px;
}

.information .left {
  margin-top: 32px;
  margin-right: 24px;
  margin-bottom: 32px;
  margin-left: 24px;
  width: 60%;
}

.information .left img {
  width: 100%;
  height: auto;
  margin-bottom: 32px;
}

.information .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.orientation-container {
  margin-top: 32px;
  display: flex;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
  align-items: center;
}

.orientation-container img {
  width: 35%;
  height: auto;
  margin-right: 16px;
}

.campus-container {
  display: flex;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
  align-items: center;
}

.campus-container img {
  width: 35%;
  height: auto;
  margin-right: 16px;
}

.lecture-container {
  display: flex;
  background-color: #D8D8D8;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
  align-items: center;
}

.lecture-container img {
  width: 35%;
  height: auto;
  margin-right: 16px;
}

/* Course Section */

.course {
  background-color: #D8D8D8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 64px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 72px;
  padding right: 72px;
}

.course-container {
  width: 340px;
  height: auto;
  background-color: white;
  margin-bottom: 32px;
  margin-right: 32px;
}

.course-container img {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.course-description {
  margin-left: 16px;
  margin-bottom: 24px;
}

/* Thesis Section */

.exhibit {
  background-color: #F3F5F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
}

.thesis {
  display: flex;
}

.thesis .left {
  margin-right: 24px;
  margin-bottom: 32px;
  margin-left: 24px;
  width: 60%;
}

.thesis .left video {
  height: auto;
  width: 100%;
  padding-bottom: 24px;
}

.thesis .right {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.thesis-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.fisma-container {
  background-color: #D8D8D8;
}

.thesis .right img {
  width: 35%;
  height: 35%;
  padding: 16px;
}

/* Footer Section */

footer {
  display: flex;
  height: 64px;
  width 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  background-color: #F3F5F5;
}

.copyright {
  flex-grow: 1;
}
